<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>newListDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>049D77271E9602DB00F8A230</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>049D77401E9602DC00F8A230</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>049D774B1E9602DC00F8A230</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
